* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.display-section {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  .display-section .card {
    margin-top: 2rem; }
    .display-section .card .bi {
      font-size: 2rem;
      color: #880f0b;
      margin-right: .25rem; }
    .display-section .card .bi-filetype-py,
    .display-section .card .bi-filetype-typescript {
      color: #3b78a8; }
    .display-section .card .bi-filetype-js {
      color: #f7e01b; }
    .display-section .card .bi-filetype-cs {
      color: #05940d; }
    .display-section .card .bi-filetype-css {
      color: #563d7c; }
    .display-section .card .bi-filetype-sass,
    .display-section .card .bi-filetype-scss {
      color: #cc6799; }
    .display-section .card .bi-filetype-java {
      color: #b07219; }
    .display-section .card .bi-filetype-html {
      color: #e34c26; }
  .display-section .animated.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }
